@using PagedList
@using PagedList.Mvc
@model IPagedList<Complain.Entities.Entities.Picture>
@{
    ViewBag.Title = "Admin - Eklenen Resimler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section id="container" class="">
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            @ViewBag.Title || <a href="~/AdminCreate/CreatePhoto" class="btn btn-primary" target="_blank">Yeni Şikayet Resmi Ekle</a>
                        </header>
                        <table class="table table-striped table-advance table-hover">
                            <thead>
                                <tr>
                                    <th width="80"><i class="icon-bullhorn"></i> Resim</th>
                                    <th class="hidden-phone"><i class="icon-question-sign"></i> Resim Adı</th>
                                    <th><i class="icon-bullhorn"></i> Ürün Adı | Firma Adı</th>
                                    <th><i class="icon-bullhorn"></i>Admin Id </th>
                                    <th><i class="icon-time"></i> Eklenme Tarihi</th>
                                    <th>İşlemler</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td width="80"><img src="~/img/foto/@item.ImageUrl" class="img-responsive" /></td>
                                        <td class="hidden-phone">@item.Name</td>
                                        <td>@item.Product.ProductName <br /> @item.Product.CompanyName</td>
                                        <td>@item.UserId</td>
                                        <td>@item.CreatedTime.ToShortDateString()</td>
                                        <td>
                                            <a href="~/Picture/Delete/@item.Id"><button class="btn btn-danger btn-xs"><i class="icon-trash ">Sil</i></button></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
            <div class="pagination" align="center">
                <div class="pagination-large">
                    @Html.PagedListPager(Model, Page => Url.Action("PhotoList", new { Page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
                </div>
            </div>
        </section>
    </section>
</section>
