<!doctype html>
<html lang="en">
<head>
    <title>tellme.com | @ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="kurtulusocL">
    <meta name="keyword" content="">
    <link rel="shortcut icon" href="~/img/icon.png" />
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/web/css/bootstrap.css">
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/web/css/animate.css">
    <link rel="stylesheet" href="~/Content/web/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/web/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/web/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/web/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/Content/web/css/magnific-popup.css">
    <!-- Theme Style -->
    <link rel="stylesheet" href="~/Content/web/css/style.css">
</head>
<body>
    <header role="banner">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand absolute" href="~/Home/Index">tellme</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="~/Home/Index">Anasayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/About/Index">Hakkımızda</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ekleme Yapın</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="~/Product/ProductCreate">Şikayet Ekleyin</a>
                                <a class="dropdown-item" href="~/OfferCompany/Create">Öneri Ekleyin</a>
                            </div>
                        </li>
                         <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" href="" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hepsini Okuyun</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="~/Product/ReadComplain">Şikayet Oku</a>
                                <a class="dropdown-item" href="~/OfferCompany/ReadOffer">Öneri Oku</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Product/Index">Şikayetler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/OfferCompany/Index">Tavsiye Edilenler</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="~/Category/Index" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Kategoriler</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                @Html.Action("CategoryShared", "Home")
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="~/Country/Index" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ülkeler</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown05">
                                @Html.Action("CountryShared", "Home")
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Contact/Index">İletişim</a>
                        </li>
                    </ul>
                    @*<ul class="navbar-nav absolute-right">
                            <li>
                                <a href="login.html">Login</a> / <a href="register.html">Register</a>
                            </li>
                        </ul>*@
                </div>
            </div>
        </nav>
    </header>

    @RenderBody()
    <footer class="site-footer">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <h3>tellme.com</h3>
                    <p>Perferendis eum illum voluptatibus dolore tempora consequatur minus asperiores temporibus.</p>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <h3 class="heading">Sitemiz</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-unstyled">
                                <li><a href="~/Home/Index">Anasayfa</a></li>
                                <li><a href="~/About/Index">Hakkımızda</a></li>
                                <li><a href="~/Product/Index">Şikayetler</a></li>
                                <li><a href="~/Contact/Index">İletişim</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-unstyled">
                                <li><a href="~/Career/Index">Kariyer</a></li>
                                <li><a href="~/Home/UserArgeement">Site Kuralları</a></li>
                                <li><a href="~/Home/UserSecurity">Site Güvenliği</a></li>
                                <li><a href="~/Home/KVKHK">Kişisel Verileriniz</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <h3 class="heading">Son Öneriler</h3>
                    <div class="block-21 d-flex mb-4">
                        <div class="text">
                            <h3 class="heading mb-0"><a href="#">Consectetur Adipisicing Elit</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="ion-android-calendar"></span> May 29, 2018</a></div>
                                <div><a href="#"><span class="ion-android-person"></span> Admin</a></div>
                                <div><a href="#"><span class="ion-chatbubble"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 d-flex mb-4">
                        <div class="text">
                            <h3 class="heading mb-0"><a href="#">Dolore Tempora Consequatur</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="ion-android-calendar"></span> May 29, 2018</a></div>
                                <div><a href="#"><span class="ion-android-person"></span> Admin</a></div>
                                <div><a href="#"><span class="ion-chatbubble"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 d-flex mb-4">
                        <div class="text">
                            <h3 class="heading mb-0"><a href="#">Perferendis eum illum</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="ion-android-calendar"></span> May 29, 2018</a></div>
                                <div><a href="#"><span class="ion-android-person"></span> Admin</a></div>
                                <div><a href="#"><span class="ion-chatbubble"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <h3 class="heading">İletişim</h3>
                    <div class="block-23">
                        <ul>
                            <li><span class="icon ion-android-pin"></span><span class="text">Ankara, Turkey -  Santo Domingo, Dominican Republic</span></li>
                            <li><a href="#"><span class="icon ion-android-mail"></span><span class="text">tellme@gmail.com</span></a></li>
                            <li><span class="icon ion-android-time"></span><span class="text">Everyday &mdash; Everytime 00:00am - 12:00pm</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-md-12 text-center copyright">
                    <p class="float-md-left">
                        Copyright &copy;
                        @DateTime.Now.Year All rights reserved | Ürün - firma şikayetleriniz için <a href="~/Home/Index" class="text-primary">tellme.com</a>
                    </p>
                    <p class="float-md-right">
                        <a href="#" class="fa fa-facebook p-2"></a>
                        <a href="#" class="fa fa-twitter p-2"></a>
                        <a href="#" class="fa fa-linkedin p-2"></a>
                        <a href="#" class="fa fa-instagram p-2"></a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <div id="loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214" />
        </svg>
    </div>
    <script src="~/Content/web/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/web/js/jquery-migrate-3.0.0.js"></script>
    <script src="~/Content/web/js/popper.min.js"></script>
    <script src="~/Content/web/js/bootstrap.min.js"></script>
    <script src="~/Content/web/js/owl.carousel.min.js"></script>
    <script src="~/Content/web/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/web/js/jquery.stellar.min.js"></script>
    <script src="~/Content/web/js/jquery.animateNumber.min.js"></script>
    <script src="~/Content/web/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/web/js/main.js"></script>
</body>
</html>