@using PagedList
@using PagedList.Mvc
@model IPagedList<Complain.Entities.Entities.Category>
@{
    ViewBag.Title = "Şikayet Kategorilerimiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="site-hero site-sm-hero overlay" data-stellar-background-ratio="0.5">
    <img src="~/img/comp.jpg" style="max-height:550px;max-width:720px;min-height:550px;min-width:720px" />
</section>
<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-8 order-md-2">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-12 col-lg-6 mb-5">
                            <div class="block-19">
                                <figure>
                                    <a href="~/Category/ComplainCategory/@item.Id"><img src="~/img/category/@item.Photo" style="max-height:200px;max-width:330px;min-height:200px;min-width:330px" alt="@item.Name" class="img-fluid"></a>
                                </figure>
                                <div class="text">
                                    <h2 class="heading"><a href="~/Category/ComplainCategory/@item.Id">@item.Name</a></h2>
                                    <p class="mb-4"></p>
                                    <div class="meta d-flex align-items-center">
                                        <div class="number">
                                            <span>@item.Products.Count() şikayet</span>
                                        </div>
                                        <div class="price text-right"><a href="~/Category/ComplainCategory/@item.Id" class="btn btn-success"><span>Şikayetler</span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="row mb-5">
                    <div class="col-md-12 text-center">
                        <div class="block-27">
                            @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 order-md-1">
                <div class="block-24 mb-5">
                    <h3 class="heading">En Çok Şikayet Alan 10 Marka</h3>
                    <ul>
                        @Html.Action("MostComplainBrand", "Home")
                    </ul>
                </div>
                <div class="block-25 mb-5">
                    <div class="heading">Reklamlar</div>
                    <ul>
                        @Html.Action("AdsForCategory", "Home")
                    </ul>
                </div>
                <div class="block-25 mb-5">
                    <div class="heading">Son Şikayetler</div>
                    <ul>
                        @Html.Action("LastComplainCategory", "Home")
                    </ul>
                </div>
                <div class="block-26">
                    <h3 class="heading">Ülkeler</h3>
                    <ul>
                        @Html.Action("GetCountryForCategory", "Home")
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-5 block-22">
    <div class="container">
        @Html.Action("VideoAdsForCategory", "Home")
    </div>
</div>