@model Complain.Entities.Entities.OfferCompany
@{
    ViewBag.Title = "Öneri İçin Yeni Firma Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="site-hero site-sm-hero overlay" data-stellar-background-ratio="0.5">
    <img src="~/img/comp.jpg" style="max-height:550px;max-width:720px;min-height:550px;min-width:720px" />
</section>
<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-8 order-md-2 pl-lg-5">
                <div class="row">
                    <div class="col-md-12 col-lg-12 mb-5">
                        <div class="pt-5">
                            <div class="comment-form-wrap pt-5">
                                <h3 class="mb-5">@ViewBag.Title</h3>
                                <p>* ile gösterilen alanlar zorunludur ve doldurulmadan form gönderme işlemi başarılı olmaz.</p>
                                <form action="#" method="post" enctype="multipart/form-data" class="bg-light">
                                    @Html.AntiForgeryToken()
                                    <hr />
                                    <h4><label class="label label-info">Kategori ve Ülke Seçimi</label></h4>
                                    <hr />
                                    <div class="form-group ">
                                        <div class="col-lg-12">
                                            @Html.LabelFor(i => i.Category.Name, new { @class = "label-control col-md-3" })
                                            @Html.DropDownListFor(i => i.CategoryId, new SelectList(ViewBag.Categories, "Id", "Name", new { @class = "form-control" }))
                                            @Html.ValidationMessageFor(i => i.CategoryId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="col-lg-12">
                                            @Html.LabelFor(i => i.Country.Name, new { @class = "label-control col-md-3" })
                                            @Html.DropDownListFor(i => i.CountryId, new SelectList(ViewBag.Countries, "Id", "Name", new { @class = "form-control" }))
                                            @Html.ValidationMessageFor(i => i.CountryId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <hr />
                                    <h4><label class="label label-info">Öneri Bilgileri</label></h4>
                                    <hr />
                                    <div class="form-group">
                                        <label for="text">Firma - Ürün Adı </label>
                                        <input type="text" name="CompanyName" class="form-control" id="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="text">Öneri Konusu </label>
                                        <input type="text" name="Subject" class="form-control" id="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="Description">Öneriniz *</label>
                                        <textarea name="Description" id="message" cols="30" rows="10" class="form-control" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="file">Resim *</label><br />
                                        <input type="file" name="image" class="form-control" required />
                                    </div>
                                    <hr />
                                    <h4><label class="label label-info">Öneri Sahibi Bilgileri</label></h4>
                                    <hr />
                                    <div class="form-group">
                                        <label for="text">Adınız-Soyadınız *</label>
                                        <input type="text" name="NameSurname" class="form-control" id="text" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="text">Kullanıcı Adınız *</label>
                                        <input type="text" name="NickName" class="form-control" id="text" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="text">Kaç Defa Yararlandınız *</label>
                                        <input type="text" name="GoTime" class="form-control" id="text" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Mail Adresiniz *</label>
                                        <input type="email" name="MailAddress" class="form-control" id="email" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Öneriyi Bitir" class="btn btn-primary">
                                        <a href="~/OfferCompany/Index" class="btn btn-default">İptal Et</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>